body{
    text-align: center;
    background-color: skyblue;
    
    
}
#a img{
    border-radius: 20%;
}
 #b img:hover{
    transform: scale(1.14);
    box-shadow: 10px 10px 10px 10px pink;
    border-radius: 20%;
 }
 